body {
	width: 70%;
	margin: 100px auto;
	padding-bottom: 40px;
	background-color: #fff;
	font-family: 'Hahmlet', serif;
}

 table{
 	width: 70%;
 	border-radius: 10px;
 }
 
table{
	border: 3px solid white;
	background-color: darkgray;
	text-align: center;
	border-left: none;
	border-right: none;
}
tr{
	border: 3px solid black;
	background-color: white;
	text-align: center;
	border-left: none;
	border-right: none;
}

th, td{
	border-bottom:2px solid white;
	border-left:1px solid white;
	background-color: darkgray;
	height: 50%;
}

th{
	background-color: darkgray;
	border-left:1px solid lightgrey;
	border-radius: 5px;
	letter-spacing: 5px;
	border-left: none;
	border-right: none;
}

td{
	font-weight: bolder;
	vertical-align: middle;
}

.aln{
	border-left: none;
}

.review_btn{
	background-color: black;
	border-radius:5px;
	border:none;
	width: 100%;
	height: 50px;
	color: #fff;
	cursor: pointer;
}

#image{
	height: 100%;
}

.img{
	width: 80%;
	border: none;
	border-radius: 10px;
}
.review{
	border-left:none;
}

h1{
	letter-spacing: 5px;
	font-size: 45px;
}

.review_btn:hover{
	background-color: black;
}