main {
	width: 70%;
    margin: 40px auto;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding-bottom: 40px;
    background-color: darkgray;
    margin-top: 3%;
    font-family: 'Hahmlet', serif;
}

.login_box {
	margin: 0px auto;
	text-align: center;
}

.logo_img {
	width: 20%;
}

.username{
		margin: 3px auto;
	width: 40%;
	height: 40px;
	padding: 0 2%;
	border: 1px solid #ddd;
	border-radius:0px;
	box-sizing: border-box;
}

.next_page{
	margin: 3px auto;
    width: 40%;
    height: 40px;
    padding: 0 2%;
    border: 1px solid #ddd;
    border-radius: 0px;
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-family: 'Hahmlet', serif;
}
.logo_img {
    width: 20%;
    margin-top: 10;
}