/* -------------  푸터 ------------- */


footer {
    background:rgba(125, 125, 125, 0.1);;
    
    color: black;
    position: fixed;
    bottom: 0;
    right: 0;
	
}

footer .box {
	font-size: 16px;
	
}

/* -------------  푸터 ------------- */


@media (min-width:768px) and (max-width:1023px) {
}
@media  (max-width:767px) {
	footer {
		height: 100px; 
	}
	
	footer .box {
		width : 90%;
	}

}