body{
   font-family: 'Hahmlet', serif;
}
.wrapper{
    position: fixed;
    top: 15%;
    left: 1%;
    padding: 0%;
    
}
.mainMenu{
    width: 250px;
    display: block;
    border-radius: 10px;
    overflow: hidden;
    padding: 0;
    
    
}
.item{
   font-family: 'Hahmlet', serif;
    border-top: 1px solid white;
    overflow: hidden;
    
}

.btnnav{
    display: block;
    padding: 15px 20px;
    background-color: darkgray;
    color: black;
    font-weight:bold;
    position: relative;
   text-decoration: none;
}

.btnnav:before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right:8px solid transparent;
    border-top:10px solid black;
    right: 15px;
    bottom: -10px;
    z-index: 9;
    
}
.btnnav i {
    margin-right: 10px;
}

#subMenu{
   display: none;
}

#subMenu a, #subMenu1 a, #subMenu2 a{
    display: block;
    padding: 15px 20px;
    color: black;
    font-size: 18px;
    font-weight:bold;
    border-bottom: 1px solid #394c7f;
    position: relative;
    text-decoration: none;    
    background: white;
}

.titlesearch{
   margin-top:3%;
   color: black;
   font-size: 18px;
    font-weight: bold;
}

.titlesea{
   width: 60%;
   margin-left: 3%;
   
}

.search_input{
   display: block;
    padding: 15px 20px;
    color: black;
    font-size: 18px;
    font-weight:bold;
    border-bottom: 1px solid #394c7f;
    position: relative;
    text-decoration: none;    
    background: white;
}

form .search_btn{
    background-color: black; 
    width: 30%; 
    margin-bottom: 3%;
    color: white
}

form .search_btn:hover {
   background-color: white;
   color: black;
}

.titlesea:focus{
   background: white;
   color: black;
   border: 3px solid black;
}

#subMenu a:hover, #subMenu1 a:hover, #subMenu2 a:hover{
   background: #dbdbdb;
}

.r_icon:hover{
   color: black;
}
.wrapper:hover{
   color: black;
}
h1{
	font-size: 45px;
	
}