<?xml version="1.0" encoding="UTF-8"?>  <!-- xml 문서입니다 하는 내용 -->

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.shop.dao.FilterSearchDAO">
	<!-- 
	<select id="getBoardList" resultType="com.shop.dto.FilterSearchDTO">		
		
			select k.*, a.al_opic, a.al_name, a.al_abv, a.al_price, a.al_stock, f.*
			from al_kinds k join alcohols a on k.ki_num=a.ki_num
		                	join flavors f on a.al_num=f.al_num
		    order by a.al_num desc
		
	</select>
	 -->
	
	<!-- 게시물 목록(페이징) -->
	<select id="getListPaging" resultType="com.shop.dto.FilterSearchDTO">		
			<![CDATA[
			select k.*, a.al_opic, a.al_name, a.al_abv, a.al_price, a.al_stock, f.*
			from al_kinds k join (select /*+INDEX_DESC(alcohols alcohols_seq) */ rownum as rnum , AL.* from alcohols AL where rownum <= #{pageNum} * #{amount} 
								) a on k.ki_num=a.ki_num
		                	join flavors f on a.al_num=f.al_num
		    WHERE rnum > (#{pageNum}-1) * #{amount}
		  ]]>
	</select>
	

	<select id="getTotal" resultType="int">
		SELECT COUNT(*) 
		FROM al_kinds k join alcohols a on k.ki_num=a.ki_num
		                join flavors f on a.al_num=f.al_num
	</select>


	
</mapper>

