@charset "UTF-8";

html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

section {
	flex: 1;
}

.order-contain {
	margin: 15% 0% 0% 36%;
	width: 30%;
	font-size: 30PX;
	text-align: center;
}

.order-contain button {
	background: black;
    color: white;
    border: none;
    width: 30%;
    height: 7%;
    margin-top: 12%;
    font-size: 18px;
}

.order-contain button:hover {
	background: gray;
	color: white;
	border: 2px solid black;
}